<div id="dash-container">
    <%= render './partials/side_nav'%>
    <div class="dash" id="dash-content">
        <div class="dash-row" id="top-bar">
            <h2>Dashboard <span>Welcome back, </span></h2>
            <%= form_tag(search_path, :method => "get") do %>
                <%= text_field_tag(:query, placeholder="Search By Ticker")%>
                <%= submit_tag("Search") %>
            <% end %>
        </div>
        <div class="dash-row" id="favorites">
            <%= render './partials/top_charts'%>
        </div>
        <div class="dash-row" id="top-stocks">
            <div class="row-card" id="row-card-one">
                <%= render './partials/top_gainers'%>
            </div>
            <div class="row-card" id="row-card-two">
                <%= render './partials/top_losers'%>
            </div>
        </div>
        <div class="dash-row" id="top-stocks">
            <div class="row-card" id="row-card-three">
                <%= render './partials/most_active'%>
            </div>
            <div class="row-card" id="row-card-four">
                <%= render './partials/news_card'%>
            </div>
        </div>
    </div>

</div>