<div class="main-content-container">
        <div class="main-left-col">
            <div class="main-left-col-upper-content">
            <% @story.each do |display| %>
            <% if display == @story.first %>
                <div class="main-left-col-upper-content-img"></div>
                <div class="main-left-col-lower-content-desc">
                    <h1><%= @story.first[:headline] %></h1>
                </div>
            <% end %>
            <% end %>
            </div>
            <div class="main-left-col-lower-content">ds
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="main-right-col">
            <div class="main-right-col-content">
                <div class="right-col-images">image</div>
                <div class="right-col-desc">
                    <h3><%= @story.second[:headline]%></h3>
                </div>
            </div>
            <div class="main-right-col-content">
                <div class="right-col-images">image</div>
                <div class="right-col-desc">
                    <h3><%= @story.third[:headline]%></h3>
                </div>
            </div>
            <div class="main-right-col-content">
                <div class="right-col-images">image</div>
                <div class="right-col-desc">
                    <h3><%= @story.fourth[:headline]%></h3>
                </div>
            </div>
            <div class="main-right-col-content">
                <div class="right-col-images">image</div>
                <div class="right-col-desc">
                    <h3><%= @story[6][:headline]%></h3>
                </div>
            </div>
        </div>
</div>


<%= images(@story[0][:headline]) %>

