<div id="dash-container">
    <%= render './partials/side_nav'%>
    <div class="layout" id="content-layout">
        <div class="left-box">
            <div class="left-box-top">
                <div class="lbt-left">
                <h1><%= @company[:symbol] %><h1>
                <h3><%= @company[:companyName] %><h3>
                <h5>Industry: <%= @company[:industry] %><h5>
                </div>
                <div class="lbt-right">
                    <h5><%= @company[:description]%></h5>
                    <br>
                    <h5>Chief Executive: <%= @company[:CEO]%></h5>
                    <br>
                    <h5><%= @company[:website]%></h5>
                </div>
            </div>
            <div class="left-box-bottom">
                <div class="key_stat">MktCp: $<%= number_with_delimiter(@keystats[:marketcap], :delimiter => ',') %></div>
                <div class="key_stat">Beta: <%= @keystats[:beta] %></div>
                <div class="key_stat">52wk Hi: $<%= @keystats[:week52high].round(2) %></div>
                <div class="key_stat">52wk Lo: $<%= @keystats[:week52low].round(2) %></div>
                <div class="key_stat">Short Int: <%= number_with_delimiter(@keystats[:shortInterest], :delimiter => ',') %></div>
                <div class="key_stat">EPS: <%= @keystats[:latestEPS] %></div>
                <div class="key_stat">Shrs Out: <%= number_with_delimiter(@keystats[:sharesOutstanding], :delimiter => ',') %></div>
                <div class="key_stat">Float: <%= number_with_delimiter(@keystats[:float], :delimiter => ',') %></div>
                <div class="key_stat">Return on Equity: <%= @keystats[:returnOnEquity] %></div>
                <div class="key_stat">EBITDA: <%= number_with_delimiter(@keystats[:EBITDA], :delimiter => ',') %></div>
                <div class="key_stat">Revenue: <%= number_with_delimiter(@keystats[:revenue], :delimiter => ',') %></div>
                <div class="key_stat">Gross: <%= number_with_delimiter(@keystats[:grossProfit], :delimiter => ',') %></div>
                <div class="key_stat">Price to Book: <%= @keystats[:priceToBook] %></div>
                <div class="key_stat">Rev per shr: <%= @keystats[:revenuePerShare] %></div>
                <div class="key_stat">Consensus EPS: <%= @keystats[:consensusEPS] %></div>
                <div class="key_stat">Profit Margin: <%= @keystats[:profitMargin] %></div>
                <div class="key_stat">Institution Held: <%= @keystats[:institutionPercent].round(2) %>%</div>
                <div class="key_stat">Insider Held: <%= @keystats[:insiderPercent].round(2) %>%</div>
                <div class="key_stat">1 Mo Chg: <%= @keystats[:month1ChangePercent].round(2) %>%</div>
                <div class="key_stat">3 Mo Chg: <%= @keystats[:month3ChangePercent].round(2) %>%</div>
                <div class="key_stat">6 Mo Chg: <%= @keystats[:month6ChangePercent].round(2) %>%</div>
                <div class="key_stat">1 Yr Chg: <%= @keystats[:year1ChangePercent].round(2) %>%</div>
                <div class="key_stat">5 Yr Chg: <%= @keystats[:year5ChangePercent].round(2) %>%</div>
                <div class="key_stat">YTD Chg: <%= @keystats[:ytdChangePercent].round(2) %>%</div>
            </div>
        </div>
        <div class="right-box">
            <div class="price">
                <h1>$<%= @quote[:latestPrice].round(2)%></h1>
                <h2><%= @quote[:changePercent].round(2)%>%</h2>
                <h3><%= number_with_delimiter(@quote[:avgTotalVolume], :delimiter => ',')%></h3>
            </div>
            <div class="financials">
                <div class="financial-stats" style="font-weight: 100;">FINANCIALS</div>
                <br>
                <div class="financials-stats">Gross Profit: $<%= number_with_delimiter(@financials[:financials][0][:grossProfit], :delimiter => ',') %></div>
                <div class="financials-stats">Cost of Revenue: $<%= number_with_delimiter(@financials[:financials][0][:costOfRevenue], :delimiter => ',') %></div>
                <div class="financials-stats">Operating Revenue: $<%= number_with_delimiter(@financials[:financials][0][:operatingRevenue], :delimiter => ',') %></div>
                <div class="financials-stats">Total Revenue: $<%= number_with_delimiter(@financials[:financials][0][:totalRevenue], :delimiter => ',') %></div>
                <div class="financials-stats">Operating Income: $<%= number_with_delimiter(@financials[:financials][0][:operatingIncome], :delimiter => ',') %></div>
                <div class="financials-stats">Net Income: $<%= number_with_delimiter(@financials[:financials][0][:netIncome], :delimiter => ',') %></div>
                <div class="financials-stats">R & D: $<%= number_with_delimiter(@financials[:financials][0][:researchAndDevelopment], :delimiter => ',') %></div>
                <div class="financials-stats">Operatign Expenses: $<%= number_with_delimiter(@financials[:financials][0][:operatingExpense], :delimiter => ',') %></div>
                <div class="financials-stats">Current Assets: $<%= number_with_delimiter(@financials[:financials][0][:currentAssets], :delimiter => ',') %></div>
                <div class="financials-stats">Total Assets: $<%= number_with_delimiter(@financials[:financials][0][:totalAssets], :delimiter => ',') %></div>
                <div class="financials-stats">Total Liabilities: $<%= number_with_delimiter(@financials[:financials][0][:totalLiabilities], :delimiter => ',') %></div>
                <div class="financials-stats">Current Cash: $<%= number_with_delimiter(@financials[:financials][0][:currentCash], :delimiter => ',') %></div>
                <div class="financials-stats">Current Debt: $<%= number_with_delimiter(@financials[:financials][0][:currentDebt], :delimiter => ',') %></div>
                <div class="financials-stats">Total Cash: $<%= number_with_delimiter(@financials[:financials][0][:totalCash], :delimiter => ',') %></div>
                <div class="financials-stats">Total Debt: $<%= number_with_delimiter(@financials[:financials][0][:totalDebt], :delimiter => ',') %></div>
                <div class="financials-stats">Shareholder Equity: $<%= number_with_delimiter(@financials[:financials][0][:shareholderEquity], :delimiter => ',') %></div>
                <div class="financials-stats">Cash Flow: $<%= number_with_delimiter(@financials[:financials][0][:cashFlow], :delimiter => ',') %></div>
                
            </div>
        </div>
    </div>

</div>